@model VRental.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Released Date:@Model.ReleasedDate.Date.ToShortDateString()</li>
    <li>Added Date: @Model.AddedDate.Date.ToShortDateString()</li>
    <li>Genre: @Model.Genre.Name</li>
    <li>Numbers In Stock: @Model.NumbersInStock</li>
</ul>

